@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/*--------------------------*/
			/*RESET*/
/*--------------------------*/
* {
	margin: 0;
	padding: 0;
}
/*---------------------------*/

/*---------------------------*/
			/*BODY*/
/*---------------------------*/

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 100%;
	padding: 20px;
	background: url(../images/bgtn.jpg);
	background-size: cover;
}

.content {
  background-color: rgba(0, 0, 0, 0.53);
  height: 94vh;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #FFF;
}

.top__header {
    text-align: center;
}

.name__icon--text .first__letter {
  background: rgba(0, 128, 0, 0.7);
  padding: 20px 33px;
  border-radius: 50%;
}

.name__icon--text .last__letter {
  background: rgba(0, 128, 0, 0.7);
  padding: 20px 27px;
  border-radius: 50%;
}

.about__me {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-size: 1.5rem;
  margin-left: 4%;
  margin-top: 27px;
  letter-spacing: 5px;
  border-left: 3px solid;
  padding-left: 3%;
}

.about__me h1 {
  font-weight: 100;
}

.contact {
  text-align: right;
}

ul.social {
  display: inline-block;
  list-style: none;
}

ul.social li {
  display: inline-block;
  margin: 0px 24px;
}

ul.social li a {
  color: #FFF;
  padding: 10px;
  font-size: 1.5rem;
}
