@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*--------------------------*/
			/*RESET*/
/*--------------------------*/
* {
	margin: 0;
	padding: 0;
}
/*---------------------------*/

/*---------------------------*/
			/*BODY*/
/*---------------------------*/

body {
    transition: all 5s ease;
    background: url(../images/bgtn.jpg) top center no-repeat;
	background-size: inherit;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;;
}

/*----------------------------*/

div.description {
	line-height: 5;
}

/*---------------------------*/
			/*SOCIAL*/
/*---------------------------*/

ul.social {
	list-style: none;
}

ul.social li {
	display: inline;
}

ul.social li a {
	font-size: 1.7em;
	line-height: 60px;
	height: 60px;
	width: 60px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.67);
	color: #FFF;
	border-radius: 50%;
	margin: 0 10px;
	opacity: 0.7;
}

ul.social li a:hover {
	 transition: all 2s ease-in;
	  opacity: 1;
	  background: rgba(255, 255, 255, 0.9);
	-webkit-animation: spin 2s 1;
	   -moz-animation: spin 2s 1;
	   	 -o-animation: spin 2s 1;
	   	 	animation: spin 2s 1;
}

ul.social li:nth-child(1) a:hover {
	color: #4099ff;
}

ul.social li:nth-child(2) a:hover {
	color: #3B5998;
}

ul.social li:nth-child(3) a:hover {
	color: #FF6600;
}

ul.social li:nth-child(4) a:hover {
	color: #0e76a8;
}

ul.social li:nth-child(5) a:hover {
	color: #d34836;
}


/*----------------------------*/

#main {
	width: 100%;
	position: fixed;
	text-align: center;
	background: rgba(255, 255, 255, 0.19);
	color: #FFF;
	bottom: 0;
	padding: 2em 0;
	-webkit-transition: all ease-out 2s;
    -moz-transition: all ease-out 2s;
    -o-transition: all ease-out 2s;
    transition: all ease-out 2s;
}

#main:hover {
	transition: all 2s ease;
	background: rgba(0, 0, 0, 0.72);
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


@media screen and (max-width: 900px) {
    body {
        transition: all 5s ease;
        background-size: inherit;
        font-size: 80%;
    }
}

